

body{
    font-family: Helvetica,;
    font-size: 15px;
    color: blue;
}
form div {
    margin-bottom: 10px;
}
label{
    font-weight: bold;
    line-height: 23px;
    float: left;
}
form input#name {
    margin-left: 60px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#dateofbirth {
    margin-left: 58px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#gender {
    margin-left: 63px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form textarea#address {
    margin-left: 76px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form select#class {
    margin-left: 93px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#email {
    margin-left: 82px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#phone {
    margin-left: 54px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#button {
    margin-left: 120px;
    border-top-width: 2px;
    border-left-width: 2px;
}
form input#button2 {
    border-top-width: 2px;
    border-left-width: 2px;
}
#form {
    width: 480px;
    background-color: rgba(255, 255, 0, 0.281);
    margin: 40px 120px;
    padding: 10px 40px 10px 40px;
}
h2 {
    background-color: rgb(196, 247, 192);
    padding: 3px 0px 3px 3px;
}
