

body{
    font-family: Helvetica,;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
form div {
    margin-bottom: 20px;
}
label{
    line-height: 23px;
    float: left;
    color: blue;
    font-size: 25px;
}
form input#name {
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 400px;
    height: 35px;
    font-size: 25px;
    margin-left: 110px;
}
form input#dateofbirth {
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 200px;
    height: 35px;
    font-size: 25px;
    margin-left: 106px;
}
form input#male {
    margin-left: 130px;
    font-size: 25px;
}
form textarea#address {
    margin-left: 135px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 300px;
    height: 80px;
    font-size: 25px;
}
form select#class {
    margin-left: 168px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 150x;
    height: 35px;
    font-size: 25px;
}
form input#email {
    margin-left: 148px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 375px;
    height: 35px;
    font-size: 25px;
}
form input#phone {
    margin-left: 103px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 255px;
    height: 35px;
    font-size: 25px;
}
form input#button {
    margin-left: 215px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 120px;
    height: 35px;
    font-size: 25px;
}
form input#button2 {
    margin-left: 15px;
    border: 5px;
    border-top-style: solid;
    border-left-style: solid;
    width: 120px;
    height: 35px;
    font-size: 25px;
}
#form {
    background-color: #ff9;
    margin: 40px 120px;
    width: 860px;
    height: 600px;  
    padding: 10px 50px 50px 50px;
}
h2{
    background-color: #ccffff;
    padding: 5px 0px 5px 5px;
    color: blue;
}